body{
background-color: black;
}
.js-logo{
    width: 70px;
}
.html-logo{
width: 70px;
padding: 5px 8px;
}
.css-logo{
height:70px;
padding: 10px;
}
.php-logo{
width: 80px;
padding: 13px 0;
}
.pyhton-logo{
width: 70px;
}
.pluses-logo{
width: 70px;
}
.logo{
width: 200px;
height: 150px;
border: 1px solid black;
border-radius: 10px;
display: inline-block;
margin:15px ;
background-color: #696969;
}

.test{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
  }
  .span{
    padding-left: 10px;
    font-size: 20px;
  }

p{
    margin: 0;
    cursor: pointer;
    transition: all .7s linear;
}

p:hover{
transform:scale(1.06);
color: white;
}
.levels{
padding-left: 10px;
}
a{
  text-decoration: none;
  color: black;
}
.test-box{
  display: flex ;
  flex-direction:row;
  flex-wrap: wrap;
}
span, p{
  font-family: 'Roboto Condensed';
}
.confirm-button{
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color:rgb(117, 37, 37);
  height: 20px;
  width: 40px;
}
