@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
body{
    background-color: black;
}

p, span, label {
    font-family: 'Roboto Condensed' ;
}

.o-res{
    color: #ffffff;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.tests_content{
    width: 60%; 
}
.relults_content{
    width: 40%; 
}
.confirm-button{
color: white;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
background-color:rgb(117, 37, 37);
height: 60px;
width: 150px;
margin: 20px;
}
#res{
color:red;
font-size: 50px;
font-weight: bold;
}
